=begin
#api.video

#api.video is an API that encodes on the go to facilitate immediate playback, enhancing viewer streaming experiences across multiple devices and platforms. You can stream live or on-demand online videos within minutes.

The version of the OpenAPI document: 1.0.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module apivideo
  class VideosDelegatedUploadApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete an upload token
    # Delete an existing upload token. This is especially useful for tokens you may have created that do not expire.
    # @param upload_token [String] The unique identifier for the upload token you want to delete. Deleting a token will make it so the token can no longer be used for authentication.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def d_elete_upload_tokens_upload_token(upload_token, opts = {})
      d_elete_upload_tokens_upload_token_with_http_info(upload_token, opts)
      nil
    end

    # Delete an upload token
    # Delete an existing upload token. This is especially useful for tokens you may have created that do not expire.
    # @param upload_token [String] The unique identifier for the upload token you want to delete. Deleting a token will make it so the token can no longer be used for authentication.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def d_elete_upload_tokens_upload_token_with_http_info(upload_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosDelegatedUploadApi.d_elete_upload_tokens_upload_token ...'
      end
      # verify the required parameter 'upload_token' is set
      if @api_client.config.client_side_validation && upload_token.nil?
        fail ArgumentError, "Missing the required parameter 'upload_token' when calling VideosDelegatedUploadApi.d_elete_upload_tokens_upload_token"
      end
      # resource path
      local_var_path = '/upload-tokens/{uploadToken}'.sub('{' + 'uploadToken' + '}', CGI.escape(upload_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VideosDelegatedUploadApi.d_elete_upload_tokens_upload_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosDelegatedUploadApi#d_elete_upload_tokens_upload_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all active upload tokens.
    # A delegated token is used to allow secure uploads without exposing your API key. Use this endpoint to retrieve a list of all currently active delegated tokens. Tutorials using [delegated upload](https://api.video/blog/endpoints/delegated-upload).
    # @param [Hash] opts the parameters
    # @option opts [String] :sort_by Allowed: createdAt, ttl. You can use these to sort by when a token was created, or how much longer the token will be active (ttl - time to live). Date and time is presented in ISO-8601 format.
    # @option opts [String] :sort_order Allowed: asc, desc. Ascending is 0-9 or A-Z. Descending is 9-0 or Z-A.
    # @option opts [Integer] :current_page Choose the number of search results to return per page. Minimum value: 1 (default to 1)
    # @option opts [Integer] :page_size Results per page. Allowed values 1-100, default is 25. (default to 25)
    # @return [TokenListResponse]
    def g_et_upload_tokens(opts = {})
      data, _status_code, _headers = g_et_upload_tokens_with_http_info(opts)
      data
    end

    # List all active upload tokens.
    # A delegated token is used to allow secure uploads without exposing your API key. Use this endpoint to retrieve a list of all currently active delegated tokens. Tutorials using [delegated upload](https://api.video/blog/endpoints/delegated-upload).
    # @param [Hash] opts the parameters
    # @option opts [String] :sort_by Allowed: createdAt, ttl. You can use these to sort by when a token was created, or how much longer the token will be active (ttl - time to live). Date and time is presented in ISO-8601 format.
    # @option opts [String] :sort_order Allowed: asc, desc. Ascending is 0-9 or A-Z. Descending is 9-0 or Z-A.
    # @option opts [Integer] :current_page Choose the number of search results to return per page. Minimum value: 1 (default to 1)
    # @option opts [Integer] :page_size Results per page. Allowed values 1-100, default is 25. (default to 25)
    # @return [Array<(TokenListResponse, Integer, Hash)>] TokenListResponse data, response status code and response headers
    def g_et_upload_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosDelegatedUploadApi.g_et_upload_tokens ...'
      end
      # unbox the parameters from the hash
      allowable_values = ["createdAt", "ttl"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/upload-tokens'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'currentPage'] = opts[:'current_page'] if !opts[:'current_page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VideosDelegatedUploadApi.g_et_upload_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosDelegatedUploadApi#g_et_upload_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show upload token
    # You can retrieve details about a specific upload token if you have the unique identifier for the upload token. Add it in the path of the endpoint. Details include time-to-live (ttl), when the token was created, and when it will expire.
    # @param upload_token [String] The unique identifier for the token you want information about.
    # @param [Hash] opts the optional parameters
    # @return [UploadToken]
    def g_et_upload_tokens_upload_token(upload_token, opts = {})
      data, _status_code, _headers = g_et_upload_tokens_upload_token_with_http_info(upload_token, opts)
      data
    end

    # Show upload token
    # You can retrieve details about a specific upload token if you have the unique identifier for the upload token. Add it in the path of the endpoint. Details include time-to-live (ttl), when the token was created, and when it will expire.
    # @param upload_token [String] The unique identifier for the token you want information about.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadToken, Integer, Hash)>] UploadToken data, response status code and response headers
    def g_et_upload_tokens_upload_token_with_http_info(upload_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosDelegatedUploadApi.g_et_upload_tokens_upload_token ...'
      end
      # verify the required parameter 'upload_token' is set
      if @api_client.config.client_side_validation && upload_token.nil?
        fail ArgumentError, "Missing the required parameter 'upload_token' when calling VideosDelegatedUploadApi.g_et_upload_tokens_upload_token"
      end
      # resource path
      local_var_path = '/upload-tokens/{uploadToken}'.sub('{' + 'uploadToken' + '}', CGI.escape(upload_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VideosDelegatedUploadApi.g_et_upload_tokens_upload_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosDelegatedUploadApi#g_et_upload_tokens_upload_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload with an upload token
    # When given a token, anyone can upload a file to the URI `https://ws.api.video/upload?token=<tokenId>`.  Example with cURL:  ```curl $ curl  --request POST --url 'https://ws.api.video/upload?token=toXXX'  --header 'content-type: multipart/form-data'  -F file=@video.mp4 ```  Or in an HTML form, with a little JavaScript to convert the form into JSON: ```html <!--form for user interaction--> <form name=\"videoUploadForm\" >   <label for=video>Video:</label>   <input type=file name=source/><br/>   <input value=\"Submit\" type=\"submit\"> </form> <div></div> <!--JS takes the form data      uses FormData to turn the response into JSON.     then uses POST to upload the video file.     Update the token parameter in the url to your upload token.     --> <script>    var form = document.forms.namedItem(\"videoUploadForm\");     form.addEventListener('submit', function(ev) {   ev.preventDefault();      var oOutput = document.querySelector(\"div\"),          oData = new FormData(form);      var oReq = new XMLHttpRequest();         oReq.open(\"POST\", \"https://ws.api.video/upload?token=toXXX\", true);      oReq.send(oData);   oReq.onload = function(oEvent) {        if (oReq.status ==201) {          oOutput.innerHTML = \"Your video is uploaded!<br/>\"  + oReq.response;        } else {          oOutput.innerHTML = \"Error \" + oReq.status + \" occurred when trying to upload your file.<br />\";        }      };    }, false);  </script> ```   ### Dealing with large files  We have created a <a href='https://api.video/blog/tutorials/uploading-large-files-with-javascript'>tutorial</a> to walk through the steps required.
    # @param token [String] The unique identifier for the token you want to use to upload a video.
    # @param file [File] The path to the video you want to upload.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_range Content-Range represents the range of bytes that will be returned as a result of the request. Byte ranges are inclusive, meaning that bytes 0-999 represents the first 1000 bytes in a file or object.
    # @option opts [String] :video_id The video id returned by the first call to this endpoint in a large video upload scenario.
    # @return [Video]
    def p_ost_upload(token, file, opts = {})
      data, _status_code, _headers = p_ost_upload_with_http_info(token, file, opts)
      data
    end

    # Upload with an upload token
    # When given a token, anyone can upload a file to the URI &#x60;https://ws.api.video/upload?token&#x3D;&lt;tokenId&gt;&#x60;.  Example with cURL:  &#x60;&#x60;&#x60;curl $ curl  --request POST --url &#39;https://ws.api.video/upload?token&#x3D;toXXX&#39;  --header &#39;content-type: multipart/form-data&#39;  -F file&#x3D;@video.mp4 &#x60;&#x60;&#x60;  Or in an HTML form, with a little JavaScript to convert the form into JSON: &#x60;&#x60;&#x60;html &lt;!--form for user interaction--&gt; &lt;form name&#x3D;\&quot;videoUploadForm\&quot; &gt;   &lt;label for&#x3D;video&gt;Video:&lt;/label&gt;   &lt;input type&#x3D;file name&#x3D;source/&gt;&lt;br/&gt;   &lt;input value&#x3D;\&quot;Submit\&quot; type&#x3D;\&quot;submit\&quot;&gt; &lt;/form&gt; &lt;div&gt;&lt;/div&gt; &lt;!--JS takes the form data      uses FormData to turn the response into JSON.     then uses POST to upload the video file.     Update the token parameter in the url to your upload token.     --&gt; &lt;script&gt;    var form &#x3D; document.forms.namedItem(\&quot;videoUploadForm\&quot;);     form.addEventListener(&#39;submit&#39;, function(ev) {   ev.preventDefault();      var oOutput &#x3D; document.querySelector(\&quot;div\&quot;),          oData &#x3D; new FormData(form);      var oReq &#x3D; new XMLHttpRequest();         oReq.open(\&quot;POST\&quot;, \&quot;https://ws.api.video/upload?token&#x3D;toXXX\&quot;, true);      oReq.send(oData);   oReq.onload &#x3D; function(oEvent) {        if (oReq.status &#x3D;&#x3D;201) {          oOutput.innerHTML &#x3D; \&quot;Your video is uploaded!&lt;br/&gt;\&quot;  + oReq.response;        } else {          oOutput.innerHTML &#x3D; \&quot;Error \&quot; + oReq.status + \&quot; occurred when trying to upload your file.&lt;br /&gt;\&quot;;        }      };    }, false);  &lt;/script&gt; &#x60;&#x60;&#x60;   ### Dealing with large files  We have created a &lt;a href&#x3D;&#39;https://api.video/blog/tutorials/uploading-large-files-with-javascript&#39;&gt;tutorial&lt;/a&gt; to walk through the steps required.
    # @param token [String] The unique identifier for the token you want to use to upload a video.
    # @param file [File] The path to the video you want to upload.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content_range Content-Range represents the range of bytes that will be returned as a result of the request. Byte ranges are inclusive, meaning that bytes 0-999 represents the first 1000 bytes in a file or object.
    # @option opts [String] :video_id The video id returned by the first call to this endpoint in a large video upload scenario.
    # @return [Array<(Video, Integer, Hash)>] Video data, response status code and response headers
    def p_ost_upload_with_http_info(token, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosDelegatedUploadApi.p_ost_upload ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling VideosDelegatedUploadApi.p_ost_upload"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling VideosDelegatedUploadApi.p_ost_upload"
      end
      pattern = Regexp.new(/^bytes [0-9]*-[0-9]*\\/[0-9]*$/)
      if @api_client.config.client_side_validation && !opts[:'content_range'].nil? && opts[:'content_range'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"content_range\"]' when calling VideosDelegatedUploadApi.p_ost_upload, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Content-Range'] = opts[:'content_range'] if !opts[:'content_range'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['videoId'] = opts[:'video_id'] if !opts[:'video_id'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Video'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VideosDelegatedUploadApi.p_ost_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosDelegatedUploadApi#p_ost_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate an upload token
    # Use this endpoint to generate an upload token. You can use this token to authenticate video uploads while keeping your API key safe. Tutorials using [delegated upload](https://api.video/blog/endpoints/delegated-upload).
    # @param [Hash] opts the optional parameters
    # @option opts [TokenCreatePayload] :token_create_payload 
    # @return [UploadToken]
    def p_ost_upload_tokens(opts = {})
      data, _status_code, _headers = p_ost_upload_tokens_with_http_info(opts)
      data
    end

    # Generate an upload token
    # Use this endpoint to generate an upload token. You can use this token to authenticate video uploads while keeping your API key safe. Tutorials using [delegated upload](https://api.video/blog/endpoints/delegated-upload).
    # @param [Hash] opts the optional parameters
    # @option opts [TokenCreatePayload] :token_create_payload 
    # @return [Array<(UploadToken, Integer, Hash)>] UploadToken data, response status code and response headers
    def p_ost_upload_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideosDelegatedUploadApi.p_ost_upload_tokens ...'
      end
      # resource path
      local_var_path = '/upload-tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'token_create_payload'])

      # return_type
      return_type = opts[:debug_return_type] || 'UploadToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VideosDelegatedUploadApi.p_ost_upload_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideosDelegatedUploadApi#p_ost_upload_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
